<section class="instgram">
    <div class="section-title aligncenter">
        <p class="section-subtitle">Découvrez quelques photos de notre page instagram @boulaybeachresort
            {#<a href="https://www.instagram.com/boulaybeachresort/" target="_blank">@boulaybeachresort</a>#}
        </p>
    </div>
    <div id="instafeed-gallery" class="owl-carousel instagram-owl"></div>
</section>