{% extends 'admin/layout/base.html.twig' %}

{% block title %}Mise à jours d'un slide layer{% endblock %}

{% block body %}
    <div class="container col-md-10 justify-content-center align-items-center">

        <div class="card shadow mb-4">

            <div class="card-body">

                <h1 class="text-center">Mise à jours d'un slide layer</h1>
                <div class="justify-content-center">

                    {{ include('admin/slidelayer/_form.html.twig', {'button_label': 'Mettre à jours'}) }}
                    <div class="d-inline-flex my-3">
                        <a href="{{ path('app_bbr_admin_slidelayer_index') }}" class="btn btn-primary btn-sm mr-5">Retour</a>

                        {{ include('admin/slidelayer/_delete_form.html.twig') }}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


